.folder {
    margin-top: 2vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    max-width: 64vw;
    height: max(32vw, 64vh);
    border: 3px solid black;
    background: lightgray;
    box-shadow: 4px 4px 0 black;
    z-index: 10;
}

.folder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, darkblue, blue);
    padding: 4px;
    color: white;
    font-size: clamp(1rem, 1vw, 1rem);
}

.controls {
    display: flex;
    gap: 2px;
}

.btn {
    width: 2vw;
    height: 4vh;
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.btn img {
    width: 14px;
    height: 14px;
}

.folder-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 60px));
    min-height: 12vh;
    height: 100%;
    gap: 3vw;
    padding: 0.6vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.folder-item {
    display: flex;
    flex-direction: column;
    width: max(5rem, 8vh);
    height: 11vh;
    background: none;
    border: none;    
    cursor: inherit;
    font-family: inherit;
    align-items: center; 
    justify-content: flex-start;
    overflow: hidden;
}

.folder-item img {
    max-width: 100%; 
    height: max(3vw, 8vh);
    object-fit: contain;
}

.folder-item span {
    font-size: clamp(0.4rem, 1.5vw, 0.6rem);
    text-align: center;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

/* .folder-item:hover {
    background-color: #282c34;
    opacity: 0.7;
} */