body {
  height: 100%;
  margin: 0;
  font-family: "pixel-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@font-face {
  font-family: 'pixel-font';
  src: local('pixel-font'), url(../public/Minecart\ LCD.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
