html, body {
  height: 100vh;
  margin: 0;
  font-family: "pixel-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: url("../public/cursor.svg") 4 4, default;
}

@font-face {
  font-family: 'pixel-font';
  src: local('pixel-font'), url('../public/Minecart LCD.ttf') format('truetype');
}

code {
  font-family: "pixel-font";
}